@import "bootstrap";

/*font face adds here
====================================*/

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-lightcond-webfont.eot');
    src: url('../fonts/helveticaneue-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-lightcond-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-lightcond-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-lightcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-lightcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*font face ends here
====================================*/

/*global mixins starts here
==================================*/

@mixin darkpink(){
	color:#b20265;
}

@mixin black(){
	color:#000;
}

@mixin gray(){
	color:#888;
}

@mixin bb(){
	border-bottom: 1px solid rgba(153,153,153, .1);
}

@mixin hel( $weight ){
	font-family: 'helvetica_neueregular';
	font-weight: $weight;
}

/*mixin ends here
==============================*/

/*global requirements start here
====================================*/

a{
	@include darkpink();

	&:hover{
		text-decoration: none;
		@include darkpink();
	}
}

body{
	@include hel(200);
}

p{
	line-height: 22px;
	font-size: 18px;
	color: #888;
}

ul.unstyled{
	padding-left: 0px;
	list-style: none;

	li{
	line-height: 22px;
	font-size: 18px;
	color: #888;
	}
}

/*global requirements ends here
====================================*/

/*Lets playing
===============================*/

header{
	margin-top: 50px;
	@include clearfix();

	.name{
		padding-bottom: 15px;
		@include black();
		@include bb();

		h1{
			margin-bottom: 0px;
			font-weight: 600;
			line-height:42px;
			margin-top: 0px;
			font-size: 50px;
		}
		h2{
			margin-bottom: 0px;
			text-align: right;
			font-weight: 600;
			line-height:42px;
			margin-top: 0px;
			font-size: 50px;
			float: right;
		}
	}

	.contacts{
		margin-bottom: 10px;
		margin-top: 10px;

		span{
			font-size: 20px;

			a{
				@include darkpink();
			}

			&.em{
				margin-left: 15px;
			}

			&.mob{
				float: right;
			}
		}
	}
}

/*header ends here
============================*/

.gen{
	h2{
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 28px;
		font-weight: 400;
		@include black();
	}

	h5{
		margin-top: 0px;
		@include black();
	}

	p{
		padding-bottom: 7px;
		@include bb();
	}
}

/*generic styling ends hea
===============================*/

.summary{
	margin-bottom: 10px;
}

.experience{
	margin-bottom: 10px;
}

.education{
	margin-bottom: 10px;

	ul{
		@include bb();
		padding-bottom: 5px;
		li{
			margin-bottom: 8px;
		}
	}
}

.Specialities{
	margin-bottom: 10px;
	ul{
		@include bb();
		padding-bottom: 5px;
		@include clearfix();
		li{
			margin-bottom: 8px;
			float: left;
			width: 50%;
		}
	}
}

.employment{
	margin-bottom: 10px;
	ul{
		li{
			h2{
				@include black();
			}

			h3{
				@include gray();
				margin-bottom: 0px;
				margin-top: 10px;
				font-size: 22px;
				line-height: 20px;

			}
		}
	}
}

.interest{
	margin-bottom: 10px;
}

.portfolio{
	ul{
		@include clearfix();
		li{
			float: left;
			width: 50%;
			a{
				@include transition(all ease 0.5s);
				&:hover{
					padding-left:5px;
				}
			}
		}
	}
}
